# Add files here to ignore them from prettier formatting

/dist
/coverage
/packages/nx-shopify/src/webpack/configs/templates/script-tags.html
/packages/nx-shopify/src/webpack/configs/templates/style-tags.html